@charset "UTF-8";

@font-face {
    font-family: 'mango';
    src: url('black-mango-regular/Black Mango Regular/Black Mango Regular.ttf');
}

@font-face {
    font-family: 'mango bold';
    src: url(FontsFree-Net-Fontspring-DEMO-mangostyle-bold.ttf);
}



